.grid-section {
    display: grid;
    grid-template-areas:
    "tiles stats"
    "tiles palette"
    "tiles palette";
    padding: 2rem;
}

.tiles{
    grid-area: tiles;
    display: grid;
    background-color: #BAD494;
    padding: 1rem;
    border-radius: 10px;
    gap: 0.75rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    aspect-ratio: 1/1;
    width: fit-content;
}

.palette{
    grid-area: palette;
}

.stats-container{
    grid-area: stats;
}

#palette {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    height: fit-content;
    justify-self: center;
}

.palette-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    margin-bottom: 8px;
    background: white;
    border-radius: 4px;
    cursor: grab;
}

.palette-item img{
    border: 1px dashed #94886B;
    border-radius: 5px;
    width: 18%;
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    background-color: #F1E7D3;
    aspect-ratio: 1/1;
}

.tile.drag-over {
    outline: 3px dashed #94886B;
}

.empty-placeholder {
    width: 70%;
    height: 70%;
    background: #DDCBA0;
    border-radius: 4px;
}

.tile img {
    cursor: grab;
}
.tile img:active {
    cursor: grabbing;
}
